@page "/gatepacking"
@using OrderFlowStudio.Frontend.Data;
@using System.Net.Http.Json
@inject HttpClient http;
@inject NavigationManager Navigate;


<h1>Select order to work on:</h1>
<div class="border-bottom border-white shadow rounded-lg" style="backgoround-color: #ededed">
    <table class="table table-striped boarder table-hover">
        <tr>
            <th>Order nb</th>
            <th>Quantity</th>
            <th>Part nb</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tbody>
            @foreach (var order in OrdersForPackingList)
            {
                <tr>
                    <td>@order.OrderNumber</td>
                    <td>@order.Quantity</td>
                    <td>@order.ProductDto.PartNumber</td>
                    <td>@order.ProductDto.ProductDescription</td>
                    <td><button class="btn btn-secondary" @onclick="@(() => UpdateOrderWithPackingInProgressStatus(order))">Start Packing</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br>
<br>
<h1>Packing in progress:</h1>
<div class="border-bottom border-white shadow rounded-lg" style="backgoround-color: #ededed">
    <table class="table table-striped boarder table-hover">
        <tr>
            <th>Order nb</th>
            <th>Quantity</th>
            <th>Part nb</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tbody>
            @foreach (var order in OrdersPackingInProgressList)
            {
                <tr>
                    <td>@order.OrderNumber</td>
                    <td>@order.Quantity</td>
                    <td>@order.ProductDto.PartNumber</td>
                    <td>@order.ProductDto.ProductDescription</td>
                    <td><button class="btn btn-warning" @onclick="@(() => UpdateOrderWithFinshedStatus(order))">Finish Order</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    List<OrderReadDto> OrdersForPackingList = new List<OrderReadDto>();
    List<OrderReadDto> OrdersPackingInProgressList = new List<OrderReadDto>();

    protected override async Task OnInitializedAsync()
    {
        // load orders registered at area
        OrdersForPackingList = await http.GetJsonAsync<List<OrderReadDto>>("http://localhost:6001/api/order/packingwaiting");
        // load orders with status packing in progress
        OrdersPackingInProgressList = await http.GetJsonAsync<List<OrderReadDto>>("http://localhost:6001/api/order/packinginprogress");
    }

    // Update order status - packing in progress
    private async Task UpdateOrderWithPackingInProgressStatus(OrderReadDto order)
    {
        var _report = order.ReportDto;
        var serviceResponse = await http.PatchAsJsonAsync("http://localhost:6001/api/order/changestatusto/packinginprogress", _report);
        RefreshThisPage();
    }

    // Update order status - order finished
    private async Task UpdateOrderWithFinshedStatus(OrderReadDto order)
    {
        var _report = order.ReportDto;
        var serviceResponse = await http.PatchAsJsonAsync("http://localhost:6001/api/order/changestatusto/orderfinished", _report);
        RefreshThisPage();
    }

    private void RefreshThisPage()
    {
        Navigate.NavigateTo("/gatepacking", true);
    }
}