@page "/orderlistweb"
@inject HttpClient http
@inject IModalService modal

@using OrderFlowStudio.Frontend.Data

@inject NavigationManager Navigate;


<h1>Orders list web</h1> 

<!-- Search form -->
<div class="form-inline">
    <input class="form-control" type="text" placeholder="Order nb" aria-label="Search" @bind="orderNb" >
    <button class = "btn btn-dark" @onclick="GetOrderIdByOrderNb">Search</button>
</div>

<!--

<div  class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
<table class="table table-striped border table-hover">   
        <tr>
            <th>Order nb</th>
            <th>Quantity</th>
            <th>Part nb</th>
            <th>Description</th>
            <th>Status</th>
            <th>Details</th>
        </tr> 
    <tbody>
        @foreach (var order in @orders)
        {
        <tr>
            <td>@order.OrderNumber</td>
            <td>@order.Quantity</td>
            <td>@order.productDto.PartNumber</td>
            <td>@order.productDto.ProductDescription</td>


            @if (order.raportDto.statusDto.StatusCode == 10)
            {
                <td><span class="badge badge-dark">Not in area</span></td>
            }
            @if (order.raportDto.statusDto.StatusCode == 15)
            {
                <td><span class="badge badge-dark">Not started</span></td>
            }

            @if (order.raportDto.statusDto.StatusCode == 20)
            {
                <td><span class="badge badge-primary">Masking</span></td>
            }
            @if (order.raportDto.statusDto.StatusCode == 30)
            {
                <td><span class="badge badge-primary">Processing</span></td>
            }
            @if (order.raportDto.statusDto.StatusCode == 40)
            {
                <td><span class="badge badge-danger">Correction</span></td>
            }
            @if (order.raportDto.statusDto.StatusCode == 50)
            {
                <td><span class="badge badge-danger">Correction finished</span></td>
            }
            @if (order.raportDto.statusDto.StatusCode == 60)
            {
                <td><span class="badge badge-success">Almost done</span></td>
            }
            @if (order.raportDto.statusDto.StatusCode == 70)
            {
                <td><span class="badge badge-success">Finished</span></td>
            }
                
            <td><button class="btn btn-dark" @onclick="@(() => RedirectToWebWithRaport(order.raportDto.Id))">Details</button></td>
        </tr>
        }
    </tbody>
</table>
</div>

-->

@code{
    List<Order> orders = new List<Order>();
    private string orderNb = string.Empty;

    int orderRaportId;


    private async Task GetOrders()
    {
        orders = await http.GetJsonAsync<List<Order>>("http://localhost:6001/api/order");
    }

    void RedirectToWebWithRaport(int RaportId)
    {
        Navigate.NavigateTo("/orderstatus/" + RaportId, true);
    }

    protected override async Task OnInitializedAsync()
    {
        orders = await http.GetJsonAsync<List<Order>>("http://localhost:6001/api/order/");
    }

    private async Task GetOrderIdByOrderNb()
    {
        orderRaportId = await http.GetJsonAsync<int>("http://localhost:6001/api/order/byordernumber/" + orderNb);
        Navigate.NavigateTo("/orderstatus/" + orderRaportId, true);
    }


}
